@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #017AFF;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.logo {
   
    height: 2.2em;
 }
 .imgLogo{
     margin-top: 1em;
     
 }
 .menu {
     display: flex;
     justify-content: center;
     margin-top: -35px;

 }
 .menu li {
     list-style-type: none;
     margin-left: 30px;

 }
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: underline;
    padding: .2rem .4rem;
}
.menu #contactlist {
    display: none;
}
.menu #signinlist {
    display: none;
}
section {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;

}
.contactus {
    align-self: center;
    background-color: #0F375C;
    color: white;
    margin-right: -140px;
    padding: 40px 20px;
    z-index: 1;
    height: 250px;
}
.contactus li {
    list-style-type: none;
}
.contactus div h2 {

 margin: -30px 50px 20px;
 font-weight: 500;
}
.contactForm {
    background-color: white;
    padding: 80px 100px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    
}
.contactForm #intouch {
    margin-top: -50px;
    margin-left: 70px;
    font-weight: normal;
}
.contactForm #free {
    margin-bottom: 10px;
    margin-left: 70px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.inputBox input {
    padding: 5px 12px 5px 3px;
    background-color:  rgba(196, 196, 196, 0.1);
    margin-bottom: 8px;
    margin-left: 70px;
    border: 1px solid wheat;
}
.inputBox textarea {
    padding: 5px 25px 37px 5px ;
    background: rgba(196, 196, 196, 0.1);
    width: 77%;
    margin-left: 70px;
    border: 1px solid wheat;
}
.inputBox input[type="submit"] {
background-color: #017AFF;
border-radius: 62px;
padding: 5px 30px;
margin-top: 20px;
color: white;
margin-left: 70px;
font-family: 'Poppins', sans-serif;
cursor: pointer;
}
.inputBox input[type="submit"]:focus {
    outline: none;
    
}
.inputBox input[type="submit"]:hover {
    background-color: #0a62c0;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(15,55,92,0.3);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 122px;
    color: white;
    margin-left: -15px;
    
}
#footerImage {
    height: 35px;
}
span {
    margin-left: 0.5rem;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height:3px;
    margin:5px;
    background-color: white;

}
#success {
    background-color: rgb(17, 148, 61);
    color: rgb(255, 255, 255);
    text-align: center;
    transition:  all 0.2s ease-in-out;
    padding: 0rem .7rem;
    display: none;
    
    position: relative;
    
}
#error {
    background-color: crimson;
    color: white;
    margin-left: 70px;
    margin-bottom: .5rem;
    padding: 0rem .7rem;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.span {
    display: none;
    color: crimson;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
  
   
    .container {
        flex-direction: column;
        margin-top: 50px;

    
    }
    .contactus {
        z-index: -1;
        order: 2;
        padding: 40px 60px;
        margin-top: 40px;
        margin-right: 18px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    }
    .contactForm {
        padding: 50px 40px;
        margin-right: 15px;

    }
    .contactForm #intouch {
        margin-left: 45px;
    }
    .contactForm #free {
        margin-left: 15px;
    }
    .inputBox input {
        margin-left: 15px;
    }
    .inputBox textarea {
        margin-left: 15px;

    }
    .contactus div h2 {
        font-size: 1.4em;
        margin: -30px 40px 10px;
    }
    footer {
        width:100vw;
    }
    .menu {
        position: absolute;
        right: 0px;
        height: 50vh;
        top : 16vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        transform: translateX(100%);
        background-color: white;
        color: black;
        transition: transform 0.5s ease-in-out;
        justify-content: flex-start;


    }
    .menu a {
        
        color: black;
        
    }
    .menu li {
        margin-top: .6rem;

    }
    
    .menu #contactlist {
        display: inherit;
    }
    .menu #signinlist {
        display: inherit;
    }
    .burger {
        display: block;
        float: right;
        margin-top: -2rem;
        cursor: pointer;
        
    }
}
.nav-active {
   transform: translateX(0%);
}